body{
    background-color: white;
}

h1{
    text-align: center;
    color: red;
}

form{
margin-left: 34%;
}

#search{
    width: 42%;
    border-radius: 5px;
}

#submit{
    background-color: green;
    color: white;
    border-radius: 5px;
}