/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

body{
	font: 100%/1.5 sans-serif; 
	font-family: 'Average', serif;
	background: top url("../images/bg1.png") repeat;
	color: white;
	margin: 0 auto;
}

.container .sixteen.columns{
	background: top url("../images/bg2.png") repeat;
	border: 3px solid #000;
	padding: .556%;
	margin: 0 auto;
	overflow: hidden;
}

p{
	padding: .556%;
}

#nav{
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
}

.container .seven.columns{
	background: top url("../images/bg2.png") repeat;
	border: 3px solid #000;
	border-radius: .556%;
	padding: .556%;
	margin: auto;
}


.container .seven.columns#start{
	float: left;
}

.container .seven.columns#evo{
	float: right;
}

h1{
	color: white;
}

h2{
	padding: .556%;
	color: white;
}

h3{
	padding: .556%;
	color: white;
}

ul{
	list-style-type: none;
}

ul li{
	display: inline;
}

li{
	background: top url("../images/bg3.png") repeat;
	border: 1px solid #000;
	padding: .556%; /*5px;*/
}

footer{
	text-align: center;
	color: black;
	clear: right;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration: underline;
	color: DarkGreen;
}

a:visited{
	color: #FFA000;
}

a:active{
	color:Red;
}

img{
	width: 18.889%; /*170px;*/
	max-width: 100%;
	padding-left: 38.889%; /*350px;*/
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	ul li{
		display: block;
	}
	img{
		display: none;
	}	
}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	.container .seven.columns{
		float: none;
	}
	ul li{
		display: block;
	}
	img{
		display: none;
	}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/