body{
    background-color: #303030;
    color: white;
}

.wrapper{
    border: 3px solid white;
    border-radius: 3px;
    margin-bottom: 2%;
}

img{
    margin-left: 87%;
    width: 10%;

}

h1{
    font-size: 2em;
    text-align: center;
}

p{
    font-size: 1em;
    text-align: center;
}

a{
    color: white;
}

input{

}

form{
    margin-left: 43%;
}