body{
    background-color: DimGray;
    color: white;
}

.wrapper{
    border: 3px solid white;
    border-radius: 3px;
    margin-bottom: 2%;
}

img{
    margin-left: 50%;
}

h1{
    font-size: 2em;
}

p{
    font-size: 1em;
}

a{

}