body{
	font-family: helvetica, serif;
	padding-left: 5%;
	width: 90%;
	height: 600px;
	line-height: 2em;
	font-weight: normal;
	letter-spacing: 0.01em;
	background: top url("../images/steel.png") repeat;
	background-color: DarkCyan;
	color: rgb(255,251,221);
}

h1{
	font-family: 'Alice', serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px #666666;
	font-size: 169%;
	background-color: #0A233B; 
	border: 1px groove;
	color: #7299BD;
}

h2{
	font-family: 'Alice', serif;
	text-align: center;
	font-weight: bold;
	background-color: rgba(46,99,127,0.9);
	border: 1px groove;
	color: #7299BD;
}

h3{
	font-family: 'Alice', serif;
	text-align: center;
	background-color: #0A233B; 
	border: 1px groove;
}

ul{
	list-style-type: none;
}

li{
	background: url("../images/peace.png") no-repeat;
	padding-left: 7%;
}

#cite{
	font-style: italic;
	text-align: center;
	background-color: #0A233B; 
	border: 1px groove;
}

a{
	text-decoration: none;
	text-shadow: 3px 3px 3px #666666;
	color: rgb(255,251,221);
}

a:hover{
	text-decoration: underline;
	color:blue;
}

a:visited{
	color:purple;
}

a:active{
	color:red;
}

#nav1{
	padding: 1%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 6px 6px 6px #666666;
	background: top url("../images/dark-canvas.gif") repeat;
	background-color: #0C72B2;
	margin: auto;
}

#nav2{
	padding: 1%;
	text-align: center;
	border: 1px groove;
	background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 20%, #4e4e4e 39%, #010101 51%, #0a0a0a 57%, #4e4e4e 72%, #1b1b1b 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(20%,#0d0d0d), color-stop(39%,#4e4e4e), color-stop(51%,#010101), color-stop(57%,#0a0a0a), color-stop(72%,#4e4e4e), color-stop(87%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 20%,#4e4e4e 39%,#010101 51%,#0a0a0a 57%,#4e4e4e 72%,#1b1b1b 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #959595 0%,#0d0d0d 20%,#4e4e4e 39%,#010101 51%,#0a0a0a 57%,#4e4e4e 72%,#1b1b1b 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 20%,#4e4e4e 39%,#010101 51%,#0a0a0a 57%,#4e4e4e 72%,#1b1b1b 87%); /* IE10+ */
	background: linear-gradient(to bottom, #959595 0%,#0d0d0d 20%,#4e4e4e 39%,#010101 51%,#0a0a0a 57%,#4e4e4e 72%,#1b1b1b 87%); /* W3C */
	clear: left;
}

#col1{
	font-size: 1.125em;
	border: 3px groove;
	border-radius: 4px;
	border-color: #000;
	box-shadow: 6px 6px 6px #666666;
	background: top url("../images/titian.gif") repeat;
	background-color: #0C72B2;
	padding: 1%;
	margin: auto;
	width: 45%;
	float: left;
}

#col2{
	font-size: 1.125em;
	border: 3px groove;
	border-style: groove;
	border-radius: 4px;
	border-color: #000;
	box-shadow: 6px 6px 6px #666666;
	background: top url("../images/titian.gif") repeat;
	background-color: #0C72B2;
	padding: 1%;
	margin: auto;
	width: 45%;
	float: right;
}

#col3{
	border: 3px groove;
	border-style: groove;
	border-radius: 4px;
	border-color: #000;
	box-shadow: 6px 6px 6px #666666;
	background: top url("../images/titian.gif") repeat;
	background-color: #0C72B2;
	padding: 1%;
	margin: auto;
	width: 45%;
	float: left;
}

footer{
	text-align: center;
}

table{
	border-spacing: 1px;
	width: 570px;
}

th{
	padding: 5px;
	border-spacing: 1px;
	font-size: 120%;
	margin: 0;
	text-align: center;
	letter-spacing: 1px;
	background-color: #0C72B2;
	border-bottom: 7px solid #547ca0;
	border-right: 5px solid #749abe;
	border-top: 5px solid #90b4d6;
}

td{
	padding: 5px;
	border-spacing: 1px;
	font-size: 90%;
	margin: 0;
	text-align: center;
	letter-spacing: 1px;
	background-color: DarkCyan;
	border-top: 5px solid #f1f8fe;
	border-bottom: 7px solid #cbd2d8;
	border-right: 5px solid #cbd2d8;
}

.hov:hover{
	background-color: #749abe;
}

img{
	width: 45%;
	padding: 5px;
	float: left;
}

