body{
	font: 100%/1.5 sans-serif; 
	font-family: 'Average', serif;
	background: top url("../images/bg1.png") repeat;
	color: white;
	max-width: 960px;
	margin: 0 auto;
}

#wrapper{
	max-width: 100%; /*900px;*/
	margin: 0 auto;
	overflow: hidden;
}

#open{
	background: top url("../images/bg2.png") repeat;
	border: 3px solid #000;
	padding: .556%; /*5px;*/
	margin-bottom: .556%; /*5px;*/
}

#nav{
	text-align: center;
	background: top url("../images/bg3.png") repeat;
	border: 1px solid #000;
	padding: .556%; /*5px;*/
	font-size: 1em;
	margin: auto;
}

ul{
	list-style-type: none;
}

ul li{
	display: inline;
}

footer{
	text-align: center;
	color: black;
	clear: right;
}

#start{
	max-width: 47.778%; /*430px;*/
	background: top url("../images/bg2.png") repeat;
	float: right;
	border: 3px solid #000;
	padding: .556%; /*5px;*/
}

#evo{
	max-width: 47.778%; /*430px;*/
	background: top url("../images/bg2.png") repeat;
	float: left;
	border: 3px solid #000;
	padding: .556%; /*5px;*/
}

h1{
	font-size: 2em;
	text-align: center;
}

h2{
	font-size: 1.875em;
	text-align: center;
}

h3{
	font-size: 1.375em;
	text-align: center;
}

p{
	font-size: 1em;
}

img{
	width: 18.889%; /*170px;*/
	max-width: 100%;
	padding-left: 38.889%; /*350px;*/
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: DarkGreen;
}

a:visited{
	color: #FFA000;
}

a:active{
	color:Red;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 959px){
	#wrapper{
	padding: .556%;
	}
	
	#start{
		margin: auto;
	}
	#evo{
		margin: auto;
	}
	
}

@media screen and (min-width: 480px) and (max-width: 767px){
	#wrapper{
		padding: .556%;
	}
	#start{
		margin: auto;
	}
	#evo{
		margin: auto;
	}
}

@media only screen and (max-width: 479px){
	#wrapper{
	padding: .556%;
	}
	ul li{
		display: block;
	}
	#start{
		float: none;
		margin: auto;
		text-align: center;
	}
	#evo{
		float: none;
		margin: auto;
		text-align: center;
	}
	img{
		display: none;
	}
}

