body{
	font: 100%/1.5 sans-serif; 
	max-width: 960px;
	margin: 0 auto;
	background-color: darkcyan;
}

#wrapper{
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative; 
}

#abs{
	width: 400px;
	border: 3px solid #000;
	padding: .556%; 
	margin-bottom: .556%; 
	position: absolute;
	right: 10px;
	z-index: 1;
	background-color: blue;
}

#abs1{
	width: 400px;
	border: 3px solid #000;
	padding: .556%; 
	margin-bottom: .556%;
	z-index: 2;
	background-color: blue;
}


footer{
	text-align: center;
	background-color: black;
	color: white;
	position: fixed;
	bottom: -2px;
	right: 600px;
	z-index: 3;
}

img{
	width: 18.889%; 
	max-width: 100%;
	padding-left: 38.889%; 
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.875em;
}

p{
	font-size: 1em;
}

h1~p{
	border: 3px solid black;
	background-color: blue;
}

/* Media Queries */

@media screen and (min-width: 866px) and (max-width: 959px){
	body{
		padding: .556%;
	}
	
	#abs{
		padding: .556%;
	}
	
	footer{
		right: 350px;
	}
	
}

@media screen and (min-width: 657px) and (max-width: 865px){
	body{
		padding: .656%;
	}
	
	#abs{
		width: 300px;
	}
	
	#abs1{
		width:300px;
	}
	
	footer{
		right: 300px;
	}
}

@media screen and (min-width: 555px) and (max-width: 656px){
	body{
		padding: .656%;
	}
	
	#abs{
		width: 200px;
	}
	
	#abs1{
		width:200px;
	}
	
	footer{
		right: 220px;
	}
	img{
		display: none;
	}
}

@media screen and (min-width: 500px) and (max-width: 554px){
	body{
		padding: .656%;
	}
	
	#abs{
		width: 200px;
	}
	
	#abs1{
		width:200px;
	}
	
	footer{
		right: 200px;
	}
	
	img{
		display: none;
	}
}

@media screen and (min-width: 425px) and (max-width: 499px){
	body{
		padding: .656%;
	}
	
	#abs{
		width: 200px;
	}
	
	#abs1{
		width:200px;
	}
	
	footer{
		right: 100px;
	}
	
	img{
		display: none;
	}
}

