body{
	font: helvetica;
	background-color: DarkCyan;
	color: rgb(255,251,221);
}

h1{
	background-color: #0A233B; 
	color: #7299BD;
}

h2{
	background-color: #0A233B;
	color: #7299BD;
}

h3{
	background-color: #0A233B; 
	background-color: rgba(46,99,127,0.9);
}

ul{
	background-color: hsl(209, 36%, 40%);
}