body{
	background-color: black;
	color: rgb(255,251,221);
}

h1{
	background-color: #0A233B; 
	color: #7299BD;
}

h2{
	background-color: rgba(46,99,127,0.5);
	color: #7299BD;
}

ul{
	background-color: hsl(209, 36%, 59%);
}