h1{
	font-size: 50px;
	text-shadow: 5px 5px 5px #FFFCFC;
	font-family: 'Bubbler One', sans-serif;
	border: 5px solid #FFFCFC;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 1px 1px 1px #FF0000;
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
}

h2{
	font-size: 25px;
	text-align: center;
	line-height: 1px;
}
body{
	background: #5EAAAB;
	color: #FF0000;
	font-family: sans-serif;
	width:600px;
	height:800px;
	margin: 50px;
}

a, #under, #over{
	font-style: italic;
	display: inline;
}

#colm1{
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	padding: 4px;
	margin: 3%;
	width: 43%;
	float: left;
}

#colm2{
	
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	padding: 4px;
	margin: 3%;
	width: 43%;
	float: right;
}

table{
	width: 50px;
	padding: 1px;
	letter-spacing: 1px;
	font-size: 18px;
	background-color: blue;
	border-spacing: 1px;
}

th{
	border: 1px solid #FFFCFC;
	text-align: center;
}

td{
	border: 1px solid #FFFCFC;
	text-align: center; 
}

td:hover{
	background: #5EAAAB;
}

fieldset{
	width: 150px;
	padding: 1px;
	margin: 1px;
	font-size: 18px;
	color: white;
	border: 1px solid #5EAAAB;
	text-align: center;
}
input:hover{
	background: red;
}
input:focus{
	background: green;
}
