h1 {
	color: #325050;
	background-color: #e5ede8;
	font-size: 7em;
	font-family: Libre Baskerville sans-serif;
	padding: 5px; 
	margin: 0;
}

h2 {
	color: DarkCyan;
	font-weight: normal;
	border-bottom: 3px solid DarkCyan;
}

p {
	color: #616161;
	line-height: 1.5;
	font-family: Libre Baskerville sans-serif;
	padding: 5px;
}